extends ./layout/main

block contenido
    div.py-10
        include ./layout/includes/signwall-logo
        h2.text-center.text-3xl.font-extrabold=page
        h2.text-center.text-2xl.font-extrabold.mt-2.text-slate-800=description
        div(class="flex w-100 mt-2")
            a(href="/files/" class="rounded py-3 px-10 bg-blue-900 hover:bg-slate-900 text-sm text-center text-white font-bold uppercase my-5 inline-block w-full sm:w-auto sm:mx-auto") ¡Quiero empezar!

