extends ./layout/main

block contenido
    div.py-10
        include ./layout/includes/signwall-logo
        h2.text-center.text-2xl.font-extrabold=pagina
        h2.text-center.text-2xl.font-extrabold=descripcion
        div(class="flex w-100")
            a(href="/files" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm text-center text-white font-bold uppercase my-5 inline-block w-full sm:w-auto sm:mx-auto") Subir Imagenes

