header.bg-slate-900.p-4
    div.container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Signwall
            span.font-normal Promociones

        nav(class="my-5 text-sm md:flex md:items-center font-bold md:gap-3 text-white hidden")
            a(href="/") Home
            a(href="/files/") Subir imagen
            //- a(class="bg-indigo-800 py-2 px-10 rounded-lg" href="") Cerrar Sesión