h1(class="text-4xl mt-10 mb-0 font-extrabold text-center sm:my-10") Signwall
    span(class="hidden font-normal sm:inline-block") Promociones
span(class="text-4xl my-1 mb-10 font-extrabold text-center block font-normal sm:hidden") Promociones